// Place all the styles related to the api/channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// server title inside the channels index

.channelHeader {
  background-color: #313338;
  border-bottom: 1px solid #202124;
  font-size: 16px;
  font-weight: 500;
  height: 48px;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  z-index: 3;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  width: 241px;
  color: #fff;
  font-family: Arial;
}

#textChannelLabel { // here101
  position: relative;
  top: 120px;
  padding-left: 20px;
  float: left;
  font-size: 14px;
  font-weight: 500;
  font-family: Arial;
  color: #b9bbbe;
}

#textChannelLabel:hover {
  color: white;
}

//////////////channels nitro ad
.nitro {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nitro-ad {
  height: 150px;
  width: 200px;
  border-radius: 5px;
  // margin-left: 17px;
}

.nitro-p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nitro-p2 {
  margin-bottom: 0px;
  margin-top: 1px;
  color: white;
}

.nitro-button {
  width: 85%;
  height: 30px;
}

#nitro-line {
  border-bottom: solid 1px color white;
  width: 100%
}
/////////////

.newChannel-widget { //here102
  position: relative;
  top: 116px;
  left: 70px;
  z-index: 1;
}

.textChannel-plus {
  text-decoration: none;
  font-size: inherit;
  font: inherit;
  font-size: 22px;
  font-weight: bold;
  color: #5e5d5a;
  right: 0px;
}

.textChannel-plus:hover {
  color: white;
}

.newChannel-widget .newChannel-widget-tooltip {
  visibility: hidden;
  background-color: black;
  border: 3px solid black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 11px;

  font-family: Arial;

  white-space: nowrap;
  font-size: 14px;

  position: absolute;
  right: 44px;
  top: -40px;
  z-index: 1;
}


.newChannel-widget:hover .newChannel-widget-tooltip {
  visibility: visible;
}

/* arrow box for new channel tooltip */
.newChannel-widget-tooltip:after, .newChannel-widget-tooltip:before {
  top: 100%;
 left: 50%;
 border: solid transparent;
 content: " ";
 height: 0;
 width: 0;
 position: absolute;
 pointer-events: none;
}


.newChannel-widget-tooltip:after {
  border-color: rgba(8, 3, 1, 0);
  border-top-color: #080301;
  border-width: 8px;
  margin-left: -8px;
}

.newChannel-widget-tooltip:before {
  border-color: rgba(5, 0, 0, 0);
  border-top-color: #050000;
  border-width: 5px;
  margin-left: -5px;
}

///////////////////////////////////////////////////
// for the channel tooltips(create invite)
.channel-invite-widget .channel-invite-widget-tooltip {
  visibility: hidden;
  background-color: black;
  border: 3px solid black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 11px;

  font-family: Arial;

  white-space: nowrap;
  font-size: 14px;

  position: relative;
  left: 95px;
  top: -80px;
  z-index: 1;
}

.channel-invite-widget:hover .channel-invite-widget-tooltip {
  visibility: visible;
}

.channel-invite-widget-tooltip:after, .channel-invite-widget-tooltip:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.channel-invite-widget-tooltip:after {
  border-color: rgba(8, 3, 1, 0);
  border-top-color: #080301;
  border-width: 8px;
  margin-left: -8px;
}

.channel-invite-widget-tooltip:before {
  border-color: rgba(5, 0, 0, 0);
  border-top-color: #050000;
  border-width: 5px;
  margin-left: -5px;
}

// the actual Channels
// the ul for channels that can be created and joined

#fullApp {
  // z-index: 5;
}

.channels-ul { //here103
  position: relative;
  top: 135px;
  left: 0px;
}

.channelsList-hastag {
  position: relative;
  left: -20px;
  font-size: 22px;
  font-weight: bold;
  color: gray;
  // border: 1px solid green;
  border-radius: 3px;
}

.channelsList-hastag:hover {
  background-color: #3e4045;
}

.channelLinks {
   list-style-type: none;
   text-decoration: none;
   color: white;
   position: relative;
   top: -24px;
   font-size: 16px;
   line-height: 20px;
   font-weight: 500;
   font-family: Arial;
 }

/* i guess this will just touch the create channel and text channel */
.aside-channels {
  color: black;
  list-style-type: none;
  text-decoration: none;
  position: absolute;

}

.invite {
  text-decoration: none;
  position: relative;
  left: 155px;
  top: -42px;
  color: #b9bbbe;
}

.channelsList {
  height: 20px;
  padding-bottom: 10px;
}


.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* background-color: rgba(128,128,128,0); */
}

.modal-content {
  /* margin: auto; */
  padding: 20px;
  border-radius: 5px;
  width: 440px;
  height: 140px;
  color: white;
  background-color: #474545;
  margin-bottom: 50px;
  padding-bottom: 50px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 8;
}

#modalBackground {
  background-color: black;
  transition: background-color 0.2s ease;
  z-index: 6;
  position: absolute;
  height: 100%;
  width: 100%;
  // visibility: hidden;
  opacity: 0.9;
}

#modalLabel {
  font-size: 12px;
  font: Arial;
  margin: 10px;
  width: 400px;
}


.modal-input {
  border-color: #040405;
    border-top-color: rgb(4, 4, 5);
    border-right-color: rgb(4, 4, 5);
    border-bottom-color: rgb(4, 4, 5);
    border-left-color: rgb(4, 4, 5);
  background-color: rgba(0,0,0,.1);
  font: 400 13.3333px Arial;
  font-size: 16px;
  font-weight: 400;
  color: white;
  width: 400px;
  height: 40px;
  border: 1px #040405;
  border-radius: 3px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  color: white;
  margin-right: 10px;
  align-items: flex-end;
  margin-top: 50px;
  /* background-color: green; */
}

.modal-cancel {
  color: white;
  margin-right: 24px;
  margin-bottom: 11px;
  text-decoration: none;
}

.modal-cancel:hover {
  text-decoration: underline;
}

.modal-create {
  height: 38px;
  border-radius: 3px;
  background-color: #7289da;
  color: white;
  border: 1px solid #7289da;
}
