// Place all the styles related to the api/comments_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// comments CSS

.commentsHeader {
  border-bottom: 1px solid #202124;
  width: 91.5%;
  position: absolute;
  left: 299px;
  top: 0px;
  z-index: 1;
  height: 47px;
}

.commentsHeaderSmall {
  border: 1px solid #202124;
  width: 81.8%;
  position: absolute;
  left: 299px;
  top: 0px;
  z-index: 1;
  height: 47px;
}

.commentsHeader-hastag {
  position: absolute;
  left: 15px;
  font-weight: bold;
  font-size: 24px;
  top: 8px;
  color: #b9bbbe;
}

.commentsHeader-title {
  position: absolute;
  left: 35px;
  font-size: 18px;
  top: 10px;
  color: white;
}

.comment-name {
  font-size: 20px;
  font-weight: 500;
  margin-right: 5px;
  color: red;
}

#timeStamp {
  font-size: 11px;
  color: #999b9e;
}


// individual comments
#comment-line {
  list-style-type: none;
  padding: 0;
  color: #b2b4b8;
}

// individual comments
.comment {
  border-bottom: 1px solid #434445;
  margin-right: 20px;
}

// for small comment small screen
.commentSmall {
  width: 95%;
  border-bottom: 1px solid #434445;
  margin-right: 20px;
}

// comment form/input
.commmentForm-container {
  // display: flex;
  // flex-direction: row;
}
.commentForm {
  position: absolute;
  bottom: -5px;
  margin: 15px;
  width: 90%;
}

.commentFormSmall {
  width: 77%;
  position: absolute;
  bottom: -5px;
  margin: 15px;
}

.commentForm-input {
  height: 45px;
  border-radius: 6px;
  font-size: 16px;
}

#comment-Button {
  visibility: hidden;
}

.commentForm-input {
  width: 100%;
  background-color: #46474a;
  border: none;
}

.commentForm-input-icons {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 28px;
  right: 0;
  z-index: 3;
  background-color: #46474a;
  // #36383d
}

#input-icons {
  color: black;
  height: 32px;
  width: 32px;
  margin-right: 15px;
  color: #b2b4b8;
}

.default-content {
  color: red;
  font-size: 20px;
}
