// Place all the styles related to the api/comments_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// comments CSS

.commentsHeader {
  border: 2px solid black;
  width: 91.5%;
  position: absolute;
  left: 299px;
  top: 0px;
  z-index: 1;
  height: 45px;
}

.commentsHeaderSmall {
  border: 2px solid black;
  width: 81.8%;
  position: absolute;
  left: 299px;
  top: 0px;
  z-index: 1;
  height: 45px;
}

.commentsHeader-hastag {
  position: absolute;
  left: 15px;
  font-weight: bold;
  font-size: 24px;
  top: 8px;
}

.commentsHeader-title {
  position: absolute;
  left: 35px;
  font-size: 18px;
  top: 10px;
}

.comment-name {
  font-size: 20px;
  font-weight: 500;
  margin-right: 5px;
}

#timeStamp {
  font-size: 14px;
}

.main {

}

.main-list {
}

// individual comments
#comment-line {
  list-style-type: none;
  padding: 0;
}

// individual comments
.comment {
  border-bottom: 1px solid black;
  margin-right: 20px;
}

// for small comment small screen
.commentSmall {
  // width: 85%;
  width: 95%;
  border-bottom: 1px solid black;
  margin-right: 20px;
}

// comment form/input
.commentForm {
  position: absolute;
  bottom: -5px;
  margin: 15px;
  width: 90%;
}

.commentFormSmall {
  width: 77%;
  position: absolute;
  bottom: -5px;
  margin: 15px;
}

.commentForm-input {
  height: 30px;
  border-radius: 6px;
  font-size: 16px;
}

#comment-Button {
  visibility: hidden;
}




.commentForm-input {
  width: 100%;
}
