/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/resizable
 */



 /* server Icons and Tool tip  */
 #s-list {
   list-style-type: none;
   position: relative; left: -35px;
 }

#chatcord-dm-icon {
  margin-top: 10px;
  margin-left: 4px;
  height: 50px;
  width: 50px;
  /* border-radius: 50%; */
}

#chatcord-dm-icon-line {
  width: 60%;
  /* color: #5b5b5c; */
  border: 1px solid #3f3f40;
}
 .server-list {
   display: flex;
 }

 .server-tooltip {
   display: flex;
   margin-bottom: 8px;
   text-decoration: none;
   text-align: center;
 }

 .discord-server-icon {
   height: 50px;
   width: 50px;
   border-radius: 50%;
 }

 .server-tooltip .server-tooltip-text {
   visibility: hidden;
   position: relative;
 	 background: #88b7d5;
 	 border: 4px solid black;
   border-radius: 6px;
   padding-bottom: 7px;
   padding-top: 4px;
   padding-right: 6px;
   padding-left: 4px;
   color: white;
   background-color: black;
   font-size: 14px;
   font: Arial;
   height: 12px;
   z-index: 4;

   left: 4px;
   top: 8px;
   white-space: nowrap;
 }

 .server-tooltip-text:after, .server-tooltip-text:before {
   right: 100%;
   top: 50%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
 }

 .server-tooltip-text:after {
   border-color: rgba(2, 2, 3, 0);
   border-right-color: #020203;
 	 border-width: 9px;
 	 margin-top: -9px;
 }
 .server-tooltip-text:before {
   border-color: rgba(8, 9, 10, 0);
   border-right-color: #08090a;
 	border-width: 5px;
 	margin-top: -5px;
 }

 .server-tooltip:hover .server-tooltip-text {
   visibility: visible;
 }
 /* end server tooltip CSS */


 /* new server widget/tooltip */
 .new-server-widget .plus {

   height: 46px;
   width: 46px;
   font-size: 40px;
   color: #43b581;
   text-decoration: none;
   border-radius: 50%;
   /* background-color: #292b2f; */
   background-color: #313338;
   padding: 3px;

   position: relative;
   display: inline-block;
   text-align: center;
   position: relative; left: -36px;
 }

 .new-server-widget:hover .plus {
   background-color: #43b581;
   color: white;
   transition: color .15s ease-out,background-color .15s ease-out;
   transition: border-radius .15s;
   border-radius: 16px;
   /* white-space: nowrap; */
 }



/* ////////////////// */
.new-server-widget .new-server-widget-tooltip {
  visibility: hidden;
  position: relative;
  text-align: center;
  width: 75px;
  left: 25px;
  bottom: 35px;
  white-space: nowrap;

  background: #88b7d5;
  border: 4px solid black;
  border-radius: 6px;
  padding-bottom: 7px;
  padding-top: 4px;
  padding-right: 6px;
  padding-left: 4px;
  color: white;
  background-color: black;
  font-size: 16px;
  font: Arial;
  height: 12px;
  z-index: 2;
}

.new-server-widget:hover .new-server-widget-tooltip  {
  visibility: visible;
}

.new-server-widget-tooltip:after, .new-server-widget-tooltip:before {
  right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;

 }

.new-server-widget-tooltip:after {
  border-color: rgba(2, 2, 3, 0);
  border-right-color: #020203;
	border-width: 9px;
	margin-top: -9px;
}

.new-server-widget-tooltip:before {
  border-color: rgba(8, 9, 10, 0);
  border-right-color: #08090a;
	border-width: 5px;
	margin-top: -5px;
}

/* end new server  */
