.entryPage-leftBar {
  position: fixed;
  left: 58px;
  height: 98%;
  width: 242px;
  background-color: #313338;
  z-index: 3;
}

#entry-page-left-line {
  border: 0.7px solid #1c1c1c;
  width: 100%;
  opacity: 0.5;
}

#entry-page-right-line {
  border: 0.7px solid #1c1c1c;
  width: 100%;
  margin-top: 21px;
  opacity: 0.5;
}

#dm-button {
  margin-top: 10px;
  text-transform: uppercase;
  font-family: Arial;
  white-space: nowrap;
  color: #b9bbbe;
  font-size: 12px;
}

#ep-top-buttons {
  border: none;
  color: #b9bbbe;
  background-color: #36383d;
  font-size: 16px;
  margin-top: 16px;
  margin-left: 14px;
}

#ep-vertical-right-line {
  border-left: 0.3px solid #d9d9d9;
  height: 93%;
  position: absolute;
  right: 23%;
  opacity: 0.2;
  top: 60px;
}

.entryPage-backGround {
  height: 100%;
  position: absolute;
  left: 297px;
  top: 0;
  width: 100%;
  background-color: #36383d;
}

.entryPage-buttons {
  display: flex;
  flex-direction: column;
}

/* .entry-page-top-buttons > button {
  margin-bottom: 3px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  border: none;
  text-align: left;
  color: #b9bbbe;
  background-color: #313338;
  font-size: 16px;
  font-weight: 500;
} */

.entryPage-buttons:first-child {
  margin-top: 50px;
}

.entryPage-buttons > button {
  margin-bottom: 3px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  border: none;
  text-align: left;
  color: #b9bbbe;
  background-color: #313338;
  font-size: 16px;
  font-weight: 500;
}

.entryPage-buttons > button:hover {
  background-color: #3e4045;
  color: white;
}
