.entryPage {
  width: 70%;
}

.entryPage-leftBar {
  position: fixed;
  left: 58px;
  height: 98%;
  width: 242px;
  background-color: #313338;
  z-index: 3;
}

#entry-page-left-line {
  border: 0.7px solid #1c1c1c;
  width: 660%;
  opacity: 0.5;
}

/* #entry-page-right-line {
  border: 0.7px solid #1c1c1c;
  width: 100%;
  margin-top: 27px;   /* this changes when things are added below */
  /* opacity: 0.5;
} */

#dm-button {
  margin-top: 10px;
  text-transform: uppercase;
  font-family: Arial;
  white-space: nowrap;
  color: #b9bbbe;
  font-size: 12px;
}

.entry-page-top-buttons > button {
  border: none;
  color: #b9bbbe;
  background-color: #36383d;
  font-size: 16px;
  margin-top: 16px;
  margin-left: 14px;
}

#ep-friends {
  color: white;
}

#ep-p-add-friend {
  color: #17fc03;
}

.users-icon {
  margin-left: 10px;
  color: white;
}

#ep-vertical-right-line {
  border-left: 0.3px solid #d9d9d9;
  height: 93%;
  position: absolute;
  right: 23%;
  opacity: 0.2;
  top: 65px;
}

.entryPage-backGround {
  height: 93%;
  position: absolute;
  left: 297px;
  top: 0;
  width: 100%;
  background-color: #36383d;
}

.entryPage-buttons {
  display: flex;
  flex-direction: column;
}


.entryPage-buttons:first-child {
  margin-top: 50px;
}

.entryPage-buttons > button {
  margin-bottom: 3px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  border: none;
  text-align: left;
  color: #b9bbbe;
  background-color: #313338;
  font-size: 16px;
  font-weight: 500;
}

.entryPage-buttons > button:hover {
  background-color: #3e4045;
  color: white;
}


.activity {
  position: absolute;
  right: 0;
  top: 10%;
}

#activity-a {
  font-size: 22px;
  color: white;
  font-weight: bold;
  font-family: Arial;
}

#activity-p {
  margin: 0px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

#activity-z {
  margin: 1px;
  color: #7a7a7a;
  /* font-size: 10px; */
}

.activity-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 8px;
}

.ep-add-friend {
  position: absolute;
  left: 20%;
  top: 60px;
}

#add-friend-text {
  color: white;
  font-weight: bold;
  font-family: sans-serif;
}

#add-friend-below {
  color: #7a7a7a;
}

.add-friend-input-bar {
  width: 913px;
  height: 40px;
  background-color: #292727;
  border-radius: 5px;
  border: 1px solid rgb(41, 39, 39);
  color: #7a7a7a;
}

#ep-send-req-button {
  position: absolute;
  left: 83%;
  top: 72%;
  height: 28px;
  background-color: #1a0278;
  color: #7a7a7a;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 9px;
  padding-bottom: 17px;
}
