#friends-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: blue;
  margin-top: 12px;
  margin-left: -20px;
}

.offline-icons-and-names {
  display: flex;
  flex-direction: row;
  padding-left: -20px;
}

.offline-li-names {
  margin-left: 10px;
  margin-top: 20px;
  color: #b2b4b8;
}

#online-count {
  font-size: 12px;
  margin-left: -20px;
  color: #b2b4b8;
}
