/* link server modal */
.linkModal {
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  height: 110px;
  color: white;
  background-color: #474545;
  padding-bottom: 100px;
  font-size: 18px;
  font-weight: 500;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  opacity: 1;
}

.linkModal-header {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  margin-top: 2px;
  font-family: sans-serif;
}

.linkModal-leaveButton {
  text-decoration: none;
  color: #b9bbbe;
  position: fixed;
  right: 20px;
  top: 15px;
  font-size: 24px;
}

.linkModal-para {
  color: #b9bbbe;
  font-size: 14px;
}

.linkModal-box {
  width: 90%;
  font-size: 16px;
}

.linkModal-input {
  height: 40px;
  position: fixed;
  width: 380px;
  left: 20px;
  border-radius: 3px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Arial;
  font-size: 16px;
}

.linkModal-copy {
  z-index: 30;
  position: fixed;
  top: 89px;
  right: 25px;
  color: #fff;
  background-color: #7289da;
  height: 36px;
  border-radius: 3px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 6px 18px;
  font-family: Arial;
}

/* logout modal */

.logoutPopup {
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  height: 110px;
  color: white;
  background-color: #474545;
  padding-bottom: 100px;
  font-size: 18px;
  font-weight: 500;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  opacity: 1;
}

.logoutPopup-header {
  text-transform: uppercase;
  padding-top: 15px;
  line-height: 20px;
  letter-spacing: .3px;
  font-weight: 600;
}

.logoutPopup-info {
  font-size: 16px;
  color: #adacac;
  padding-top: 10px;
}

.logoutPopup-buttons {
  width: 358px;
  height: 50px;
  border-radius: 0px 0px 5px 5px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 18px 40px;
  box-shadow: inset 0 1px 0 rgba(47,49,54,.6);
  background-color: #2e2d2d;
}

.logoutPopup-cancel {
  text-decoration: none;
  position: fixed;
  right: 150px;
  bottom: 35px;
  color: white;
}

.logoutPopup-logout {
  background-color: #43b581;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  padding: 12px 24px;
  border: none;
  align-items: center;
  position: fixed;
  right: 30px;
  bottom: 25px;
  color: white;
  cursor: pointer;
  background-color: #f04747;
}

.demoToolTip {
  position: relative;
  background: #0a0d0f;
  border-radius: 6px;
  color:  #7289da;
  width: 450px;
  height: 300px;

  left: 500px;
  top: -60px;
  display: flex;
  flex-direction: column;
  font-family: Arial;
  font-weight: 600;
  visibility: hidden;
}

.demoToolTip:after, .demoToolTip:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.demoToolTip:after {
	border-color: rgba(10, 13, 15, 0);
	border-right-color: #0a0d0f;
	border-width: 30px;
	margin-top: -30px;
}

.demoToolTip:before {
	border-color: rgba(194, 225, 245, 0);
	/* border-right-color: #c2e1f5; */
	border-width: 36px;
	margin-top: -36px;
}

.demoToolTip > h3 {
  text-align: center;
}

.demoToolTip > span {
  margin-bottom: 40px;
  margin-left: 20px;
  font-size: 18px;
  color: white;
}
