html {

}

body {
  /* min-height: 100%; */
  background-color: #36383d;
  min-height: 100vh;
  /* width: 100%; */
  width: 100vw;
  /* width: 700px; */
  margin: 0 auto;
  /* overflow-x: hidden; */

}

.wrapper {

}

.wrapper > * {

}

.aside-servers {
  background: #27292b;
  width: 58px;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
}

.aside-channels {
  background-color: #313338;
  position: absolute;
  height: 100%;
  width: 241px;
  left: 58px;
  top: 0px;
}

/* comments-main */
.default {
  text-align: left;
  background: #36383d;
  position: absolute;
  top: 48px;
  left: 299px;
  width: 91%;
  height: 96.4%;
  padding: 10px;
  clear: both;
}

.defaultSmall {
  text-align: left;
  background: #36383d;
  position: absolute;
  top: 48px;
  left: 299px;
  width: 80.85%;
  height: 96.4%;
  padding: 10px;
  clear: both;
}

.main {
  text-align: left;
  background: #36383d;
  position: absolute;
  top: 48px;
  left: 299px;
  width: 91%;
  height: 96.4%;
  padding: 10px;
  clear: both;
}

.mainSmall {
  text-align: left;
  background: #36383d;
  position: absolute;
  top: 48px;
  left: 299px;
  width: 80.85%;
  height: 92%;
  padding: 10px;
  clear: both;
}

.main-list {
  width: 91.1%;
  overflow: auto;
  overflow-x: hidden;
  height: 95%;
}

.main-list-small {
  width: 79.5%;
  overflow: auto;
  overflow-x: hidden;
  height: 95%;
}

.aside-offline {
  background-color: #313338;
  position: absolute;
  color: red;

  /* z-index: 1; */
  width: 250px;
  right: 0px;
  top: 0px;
  height: 100%;
  font-size: 18px;
}

.offline-Names {
  list-style-type: none;
  overflow: auto;
  overflow-x: hidden;
  height: 100%;
}

.offline-Names > li {
  padding-bottom: 15px;
}

/* end of layout */

#serversPosition {
  width: 25px;
}

.textChannel {
  font-size: 12px;
}

/* profile bar and logout button */

.profileBar {
  position: absolute;
  bottom: 0px;
  left: 58px;
  width: 241px;
  height: 52px;
  z-index: 5;
  background-color: #313338;
  border-top: 1px solid #202124;
  text-align: left;
}

.profileBar-name {
  color: white;
  margin-right: 30px;
  padding-left: 30px;
  float: left;
  position: relative;
  top: 18px;
  font-size: 24px;
}

.profileBar-logout {
  margin-left: 150px;
  float: left;
  position: relative;
  bottom: 6px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
