/* arrow box for new channel tooltip */
/* .newChannel-widget-tooltip:after, .newChannel-widget-tooltip:before {
  top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.newChannel-widget-tooltip:after {
  border-color: rgba(8, 3, 1, 0);
	border-top-color: #080301;
	border-width: 8px;
	margin-left: -8px;
}

.newChannel-widget-tooltip:before {
  border-color: rgba(5, 0, 0, 0);
	border-top-color: #050000;
	border-width: 5px;
	margin-left: -5px;
} */

body, html{
    height:100%;
    margin: 0;
    padding:0;
    background: grey;
}


.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.wrapper > * {
/*   padding: 10px; */
  flex: 1 100%;
}


/* Server list and icons */
.servers {
  width: 50px;
  justify-content: flex-start;
  position: absolute;
  position: fixed;
  display: inline-block;
  background: green;
  min-height: 100%;
}


.server {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: space-between;
  /* height: */
}

.comments {
  position: fixed;
  right: -250px;
  /* top: 100px; */
  background: purple;
  min-height: 100%;
  min-width: 100%;
}

.commentForm {
  margin-bottom: 20px;
  padding-bottom: 0;
  padding-top: 20px;
  padding-left: 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.commentForm textarea[type=text] {
  width: 1800px;
}

#comment-Button {
  visibility: hidden;
}

@media all and (min-width: 800px) {
  .comments    { flex: 4 0px; }
  .aside-0 { flex: 0.3; }
  .servers { order: 1; }
  .comments   { order: 2; }
  .friends { order: 3; }
  /* .footer  { order: 4; } */
}


.channels {
  display: inline;
  top: 0;
  z-index: 1;
  color: red;
  position: fixed;
  top: 150px;
  left: 40px;
}
