/* arrow box for new channel tooltip */
/* .newChannel-widget-tooltip:after, .newChannel-widget-tooltip:before {
  top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.newChannel-widget-tooltip:after {
  border-color: rgba(8, 3, 1, 0);
	border-top-color: #080301;
	border-width: 8px;
	margin-left: -8px;
}

.newChannel-widget-tooltip:before {
  border-color: rgba(5, 0, 0, 0);
	border-top-color: #050000;
	border-width: 5px;
	margin-left: -5px;
} */

.channels {
  display: inline;
  top: 0;
  z-index: 1;
  color: red;

  position: fixed;
  top: 150px;
  left: 40px;
  /* display: flex; */

}
.messageBoard {
  /* color: green; */
  /* border: 1px solid black; */
  /* display: flex; */
  position: fixed;
  right: 500px;
  top: 200px;
}
